@media only screen and (max-width: 575px) {
  .movie-list {
    display: grid;
    row-gap: 10px;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
@media only screen and (min-width: 576px) {
  .movie-list {
    display: grid;
    gap: 10px;
    row-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
@media only screen and (min-width: 992px) {
  .movie-list {
    display: grid;
    row-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}

@media only screen and (min-width: 1200px) {
  .movie-list {
    display: grid;
    row-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
}