.skeleton {
  
  width: 100%;
  height: 100%;

  padding: .5rem;

  display: grid;
  gap: 10px;
  
  grid-template-rows: auto;
  justify-items: center;

  overflow-y: auto;
}

@media only screen and (min-width: 992px) {
  .skeleton {
    width: 900px;
    height: fit-content;

    grid-template-columns: auto 1fr;

    margin: 0 auto;
  }
}


/* POSTER */

.skeleton__poster {
  width: 300px;
  height: 450px;
  border-radius: 15px;
}


/* RIGHT */

.skeleton__right {
  height: 100%;
  width: 100%;
}


/* TITLE */

.skeleton__title {
  height: 40px;
  margin-bottom: 8px;
  border-radius: 15px;
}


/* DESCRIPTION */

.skeleton__description {
  height: 160px;
  margin-bottom: 16px;
  border-radius: 15px;
}


/* BADGES */

.skeleton__badges {
  margin-bottom: 24px;
  height: 20px;
  border-radius: 15px;
}


/* SUMMARY */

.skeleton__summary {
  height: 182px;
  border-radius: 15px;
}
