.main-page__inner {
  padding: 30px 15px 0;
}

.main-page__title {
  margin-top: 30px;
  font-size: 50px;
}

.main-page__pagination {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
