/* import fonts */
@import './assets/css/fonts.css';

:root {
  --primary-background: linear-gradient(45deg, #000326 0%, #520f75 100%);
  --primary-text-color: #f5f5f5;
  --secondary-text-color: #212529;
  --color-success: #28a745;
}

* {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  color: var(--primary-text-color);
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  /* background-color: #131316; */
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
